/* Footer */
footer {
  padding-top: 50px;
  border-top: 5px solid #18943b;
  line-height: 1.6em;
  background-color: #FFF; }
  footer .inner {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media screen and (max-width: 480px) {
      footer .inner {
        display: block; } }
  footer .logo-nav {
    display: flex;
    flex-wrap: wrap; }
  footer .f-contact .f-log {
    margin-bottom: 20px;
    margin-right: 50px; }
    @media screen and (max-width: 480px) {
      footer .f-contact .f-log {
        width: 240px;
        margin: 0 auto 20px; } }
  footer .f-contact ul li {
    margin-bottom: 3px; }
  footer .f-contact .f-nav a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 14px; }
  footer .f-contact .circle-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px; }
  footer .f-contact .f-pv {
    font-size: 1.2rem; }
  @media screen and (max-width: 768px) {
    footer .f-contact .tel-form {
      margin-top: 15px; } }
  @media screen and (max-width: 480px) {
    footer .f-contact .tel-form {
      width: 100%;
      box-sizing: border-box; } }
  footer .f-contact .tel-form .f-form {
    text-align: center; }
    footer .f-contact .tel-form .f-form a {
      display: inline-block;
      width: 100%;
      box-sizing: border-box;
      padding: 15px 1em;
      color: #FFF;
      background-image: linear-gradient(90deg, #18943b, #94d32f);
      border-radius: 6px; }
  footer .f-contact .tel-form .f-tel {
    width: 100%;
    margin-top: 10px; }
  footer .bnr-area {
    padding: 50px 0;
    border-top: 1px dotted #111;
    width: 90%;
    max-width: 1080px;
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      footer .bnr-area {
        margin-top: 30px;
        padding: 30px 0;
        display: block; } }
    footer .bnr-area figure {
      margin: 0 0 0 30px; }
      @media screen and (max-width: 768px) {
        footer .bnr-area figure {
          margin-left: 0;
          margin-top: 15px;
          width: 100%; } }
      footer .bnr-area figure img {
        height: 34px; }
        @media screen and (max-width: 768px) {
          footer .bnr-area figure img {
            width: auto; } }
  footer .copy-r {
    background-color: #000;
    font-size: 1.2rem;
    color: #FFF;
    width: 100%;
    padding: 5px 0; }
