div.baloon {
	font-size: 12px;
	color: #FFF;
	position: absolute;
	padding-left: 5px;
	z-index: 1;
	background-color: #C00;
	background-image: url(../img/baloon.gif);
	background-repeat: no-repeat;
	background-position: left top;
	border-radius: 5px;
	font-weight: bold;
}

div.baloon a {
	color: #FFF;
	text-decoration: none;
	padding: 2px;
	margin-right: 2px;
}

div.baloon a:hover {
	color: #FC0;
}

div.baloon div {
	white-space: nowrap;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 0;
}